<h3 class="section-title">
  <div class="title">Browser support</div>
  <div class="title-underline"></div>
</h3>
<article class="text-box">
  Can I use
  <img class="fluid-img" src="assets/img/canisue-browser-support.png" alt="Browser support">
</article>

<article class="text-box">
  PostCSS autoprefixer
</article>