<h3 class="section-title">
  <div class="title">Browser support</div>
  <div class="title-underline"></div>
</h3>
<article class="text-box">
  <p class="ciu_embed" data-feature="flexbox" data-periods="future_1,current,past_1,past_2">
    <a href="http://caniuse.com/#feat=flexbox" target="_blank">Can I Use flexbox?</a> Data on support for the flexbox feature across the major browsers from caniuse.com.
  </p>
  <iframe src="//caniuse.bitsofco.de/embed/index.html?feat=flexbox&amp;periods=future_1,current,past_1,past_2" frameborder="0" width="100%" height="468px"></iframe>

  <p>
    Flexbox is reativelly new and it is already supported by the majority of the existing browsers, around <b>83%</b>.
    <br>
    However, this can be extended to almost 98% support if you apply vendor prefixes.
  </p>

  <p>Existing vendor prefixes:</p>
  <ul>
    <li>-webkit- (Chrome, Safari, newer versions of Opera.)</li>
    <li>-moz- (Firefox)</li>
    <li>-o- (Old versions of Opera)</li>
    <li>-ms- (Internet Explorer)</li>
  </ul>

  <p>
    It isn’t easy to remember all the times and places you should apply these. And that’s the beauty of PostCSS autoprefixer.
    <br>
    <a href="https://autoprefixer.github.io/" target="_blank">Autoprefixer</a> is one of the most known and used PostCSS plugins thanks to its capability of adding the desired vendor prefixes and removing the unnecessary in our CSS.
  </p>

  <p>Example:</p>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <pre><code class="language-css">
        .example {
          display: flex;
          flex-direction: column;
        }</code>
      </pre>
    </div>
    <div class="col-xs-12 col-sm-6">
      <pre><code class="language-css">
        .example {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
        }</code>
      </pre>
    </div>
  
</article>