<h3 class="section-title">
  <div class="title">Browser support</div>
  <div class="title-underline"></div>
</h3>
<article class="text-box">
  Can I use
  <iframe src="//caniuse.bitsofco.de/embed/index.html?feat=flexbox&amp;periods=future_1,current,past_1,past_2" frameborder="0" width="100%" height="468px"></iframe>
  <p class="ciu_embed" data-feature="flexbox" data-periods="future_1,current,past_1,past_2">
    <a href="http://caniuse.com/#feat=flexbox">Can I Use flexbox?</a> Data on support for the flexbox feature across the major browsers from caniuse.com.
  </p>
</article>

<article class="text-box">
  PostCSS autoprefixer
</article>