<p class="highlight">Flex, the layout you'll want to use next </p>
<p>A powerful layout mechanism that lets you solve common responsive web design problems with ease.</p>

<div class="card page-title">
  <div class="head">
    <img class="logo" src="assets/img/flexbox-logo.png" alt="">
    <p>Learn how flexbox rolls</p>
  </div>
  <div class="body">
    <p>Take a look at the Udemy course and the git respository</p>
  </div>
  <div class="footer">
    <a href=""><img class="logo" src="assets/img/udemy-logo.png" alt="Udemy course" title="Udemy course"></a>
    <a href="https://github.com/OrencioRodolfo/flexbox-guide"><img class="logo" src="assets/img/github-logo.png" alt="Github repository" title="Github repository"></a>
  </div>
</div>