<article class="text-box">
  <p>Flexbox is a new layout module in CSS3 that lets you lay out, align and distribute space among items within a container, even when their sizes are unknown or dynamic.</p>
  <p>In this course you'll learn to:</p>
  <ul>
    <li>Build flexible designs with less code</li>
    <li>Align items both vertically and horizontally with no pain</li>
    <li>Order items as your will without having to change your HTML</li>
    <li>Build responsive layouts quite easily</li>
  </ul>
  
  <p>All the content of <a href="">this course</a> will be available in this page and which you can access on <a href="">github</a>.</p>
</article>