<h3 class="section-title">
  <div class="title">Learn by doing</div>
  <div class="title-underline"></div>
</h3>
<article class="text-box">
  <p>Enough theoretical background, let's get it done!</p>
  <p>
    In this section we have a series of challenges axplaining all the different properties and features about flexbox.
  </p>

  <br>
  <br>

  <section id="challenges"></section>
</article>