<h2 class="section-title primary">
  <div class="title">Course program</div>
  <div class="title-underline"></div>
</h2>
<article class="text-box">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-3">
      <ul class="unstyled-list numbered-list">
        <li>
          <span class="item-number">1</span>
          Browser support
        </li>
        <li>
          <span class="item-number">2</span>
          Basics and terminology                    
        </li>
        <li>
          <span class="item-number">3</span>
          Flex container vs flex items                    
        </li>
        <li>
          <span class="item-number">4</span>
          Direction(s)
        </li>
        <li>
          <span class="item-number">5</span>
          Wrapping content
        </li>
        <li>
          <span class="item-number">6</span>
          Horizontal alignment
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <ul class="unstyled-list numbered-list">
        <li>
          <span class="item-number">7</span>
          Vertical alignment
        </li>
        <li>
          <span class="item-number">8</span>
          Multiline alignment
        </li>
        <li>
          <span class="item-number">9</span>
          Items order
        </li>
        <li>
          <span class="item-number">10</span>
          Items sizing
        </li>
        <li>
          <span class="item-number">11</span>
          Single item alignment
        </li>
      </ul>
    </div>
  </div>
</article>