// sass-lint:disable property-sort-order
@import 'base';
@import "flexboxgrid";

body {
  @include text-color('dark');
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: font-family();
}

@import 'components/card';
@import 'components/title';
@import 'components/box';
@import 'components/simple-grid';
@import 'components/list';
@import 'components/image';

@import 'layout/header';
@import 'layout/body';
