<h4 class="section-heading">
  <div class="title">#11 - Flex basis</div>
  <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
</h4>
<article class="challenge-body">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="row middle-xs">
        <div class="col-xs-12">
          <p>
            <code>flex-shrink</code> defines whether flex items should shrink or not.
            <br>
            By default it has the value <b>1</b> but it can assume the value <b>0</b> or <b>1</b>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="object-preview">
        <div class="flex-container">
          <div>Lorem ipsum</div>
          <div>2</div>
          <div>3</div>
        </div>
      </div>
    </div>
  </div>
  <div class="code-editor-wrapper">
    <iframe src="https://embed.plnkr.co/EdwD3EcBX5nG4Dw1dSMS/?show=preview" frameborder="0" width="100%" height="500"></iframe>
  </div>
</article>
<div class="challenge-footer"></div>
