<h4 class="section-heading">
  <div class="title">#2 - Flex direction</div>
  <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
</h4>
<article class="challenge-body">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p>
        You always need a container to start "flexing out". This container is who defines how its items will lay out and how the space among them will be distributed.
      </p>
      <p>You can have inline or block flex containers, depending in what you define for <code>display</code>.</p>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="object-preview">
        <div class="flex-container">
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
        </div>
      </div>
    </div>
  </div>
  <div class="code-editor-wrapper">
    <iframe src="https://embed.plnkr.co/EdwD3EcBX5nG4Dw1dSMS/?show=preview" frameborder="0" width="100%" height="500"></iframe>
  </div>
</article> 
<div class="challenge-footer"></div>