<h4 class="section-heading">
  <div class="title">#3 - Flex wrap</div>
</h4>
<article>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p>
        You always need a container to start "flexing out". This container is who defines how its items will lay out and how the space among them will be distributed.
      </p>
      <p>You can have inline or block flex containers, depending in what you define for <code>display</code>.</p>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="object-preview">
        <div class="flex-container">
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
        </div>
      </div>
    </div>
  </div>
  <div class="jsbin-wrapper">
    <a class="jsbin-embed" href="http://jsbin.com/hojopuqilo/1/edit?html,css,output">JS Bin on jsbin.com</a>
    <script src="http://static.jsbin.com/js/embed.min.js?3.41.9"></script>
  </div>
</article> 