<h4 class="section-heading">
  <div class="title">#6 - Flex container's lines alignment</div>
  <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
</h4>
<article class="challenge-body">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="col-xs-12">
          <p>
            <code>align-items</code> defines how flex items are laid out along the cross axis on the current line.
            <br>
            Is like <code>justify-content</code>, but this time on the cross-axis.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-5">
            <p>
              There are 5 different values that you can apply over <code>align-items</code>
            </p>
            <ul>
              <li><code>flex-start</code></li>
              <li><code>flex-end</code></li>
              <li><code>center</code></li>
              <li><code>baseline</code></li>
              <li><code>stretch</code> (default)</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-7">
          <img class="fluid-img flex-axis-img" src="assets/img/exercises/align-content.svg" alt="Align content">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="object-preview">
        <div class="flex-container">
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
          <div>5</div>
          <div>6</div>
        </div>
      </div>
    </div>
  </div>
  <div class="code-editor-wrapper">
    <iframe src="https://embed.plnkr.co/YMhSmEU7uRGJm6JbyOkI/?show=preview" frameborder="0" width="100%" height="500"></iframe>
  </div>
</article>
<div class="challenge-footer"></div>
