<h4 class="section-heading">
  <div class="title">#7 - Aligning flex items individually</div>
  <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
</h4>
<article class="challenge-body">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="col-xs-12">
          <p>
            <code>align-self</code> enables you to override the alignment of a specific flex item on the cross axis.
            <br>
            It behaves exactly like the <code>align-items</code> property, but instead of being applied to the flex container, it is applied on flex items.
          </p>
        </div>
      </div>
      <div class="row middle-xs">
        <div class="col-xs-12">
          <p>It can assume the following values:</p>
        </div>
      </div>
      <div class="row middle-xs">
        <div class="col-xs-12 col-sm-5">
            <ul>
              <li><code>auto</code> (default)</li>
              <li><code>flex-start</code></li>
              <li><code>flex-end</code></li>
              <li><code>center</code></li>
              <li><code>baseline</code></li>
              <li><code>stretch</code></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-7">
          <img class="fluid-img flex-axis-img" src="assets/img/exercises/align-self.svg" alt="Align self">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="object-preview">
        <div class="flex-container">
          <div>1</div>
          <div>2</div>
          <div class="middle">3</div>
          <div>4</div>
          <div>5</div>
          <div>6</div>
        </div>
      </div>
    </div>
  </div>
  <div class="code-editor-wrapper">
    <iframe src="https://embed.plnkr.co/GsKuSwYoQTwBwtOPHwD8/?show=preview" frameborder="0" width="100%" height="500"></iframe>
  </div>
</article>
<div class="challenge-footer"></div>
