<h4 class="section-heading">
  <div class="title">#8 - Flex items order</div>
  <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
</h4>
<article class="challenge-body">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <p>
            <code>order</code> gives you the chance of changing the flex items order without having to change your HTML structure.
          </p>
          <p>It can assume any integer value (positive or negative)</p>
        </div>
        <div class="col-xs-12 col-sm-7">
          <img class="fluid-img flex-axis-img" src="assets/img/exercises/flex-order.svg" alt="Flex order">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="object-preview">
        <div class="flex-container">
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
          <div>5</div>
          <div>6</div>
        </div>
      </div>
    </div>
  </div>
  <div class="code-editor-wrapper">
    <iframe src="https://embed.plnkr.co/J5xQ0Zdfe2cSMXQCt8Da/?show=preview" frameborder="0" width="100%" height="500"></iframe>
  </div>
</article>
<div class="challenge-footer"></div>
