<!-- Challenge 1 -->
<section class="challenge">
  <h4 class="section-heading">
    <div class="title">#1 - Flexbox container and flexbox items</div>
  </h4>
  <article id="challenge-1">
    <p>
      You always need a container to start "flexing out". This container is who defines how its items will lay out and how the space among them will be distributed.
    </p>
    <p>Let's put these objects inline using the <code>display</code> property.</p>
    <div class="object-preview row"></div>
  </article> 
</section>    

<!-- Challenge 2 -->
<section class="challenge">
  <h4 class="section-heading">
    <div class="title">#2 - Flex direction</div>
  </h4>
  <article id="challenge-2">
    <div class="object-preview row"></div>
    <div class="code-preview row"></div>
  </article> 
</section>

<!-- Challenge 3 -->
<section class="challenge">
  <h4 class="section-heading">
    <div class="title">#3 - Flex wrap</div>
  </h4>
  <article id="challenge-3">
    <div class="object-preview row"></div>
    <div class="code-preview row"></div>
  </article> 
</section>

<!-- Challenge 4 -->
<section class="challenge">
  <h4 class="section-heading">
    <div class="title">#4 - Horizontal alignment</div>
  </h4>
  <article id="challenge-4">
    <div class="object-preview row"></div>
    <div class="code-preview row"></div>
  </article> 
</section>

<!-- Challenge 5 -->
<section class="challenge">
  <h4 class="section-heading">
    <div class="title">#5 - Vertical alignment</div>
  </h4>
  <article id="challenge-5">
    <div class="object-preview row"></div>
    <div class="code-preview row"></div>
  </article> 
</section>