<!-- Challenge 1-->
<section class="challenge">
  <h4 class="section-heading">
    <div class="title">Challenge #1 - Flexbox container</div>
  </h4>
  <article id="challenge-1">
    <p>
      You always need a container to start "flexing out". This container is who defines how its items will lay out and how the space among them will be distributed.
    </p>
    <p>Let's put these objects inline using the <code>display</code> property.</p>
    <div class="object-preview row"></div>
    <div class="code-preview">
      <pre><code class="language-css">
        .flex-container {
          display: flex;
        }</code>
      </pre>
    </div>
  </article> 
</section>    

<!-- Challenge 2-->
<section class="challenge">
  <h4 class="section-heading">
    <div class="title">Challenge #2 - Flex direction</div>
  </h4>
  <article id="challenge-2">
    <div class="object-preview row"></div>
    <div class="code-preview row"></div>
  </article> 
</section>