.challenge {
  &:not(:first-child) {
    margin-top: 40px;
  }

  .section-heading {
    cursor: pointer;

    .title {
      margin-bottom: 0;
    }
  }

  article {
    display: none;
  }

  .section-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: theme-color('primary', 'dark');
  }
}

.flex-container {
  $shadow: rgba(0, 0, 0, .26);
  background-color: theme-color('background');
  box-shadow: 0 2px 5px $shadow;
  padding: 15px;
 
  > * {
    @include text-color('light', 'secondary');
    text-align: center;
    margin: 5px;
    padding: 10px;

    &:nth-child(even) {
      background-color: theme-color('accent');
    }
    &:nth-child(odd) {
      background-color: theme-color();
    }
  }
}

.code-editor-wrapper {
  margin-top: 15px;
}

.challenge-body {
  margin-bottom: 10px;
}

.challenge-footer {
  height: 1px;
  background-color: theme-color('primary', 'dark');
}